<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    background-color: lightsalmon;
  }
  </style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for genre in genres %}
      <div class="genres-card">
        <p>
          <a href= {% url 'show_genre_detail' genre.pk %}>{{ genre.name }}</a>
        </P>
        
      </div>
    {% endfor %}
  </main>
</body> 

</html>
