<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    background-color: lightsalmon;
  }
  </style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    
      <div class="genre-card">
        <p>
         <h1>{{ genre }}</h1>
        </P>
        
         {% for magazine in magzines %}
        <p> Title: {{ magazine.title }}</p>
        {% endfor %}
       
      </div>
   
  </main>
</body>

</html>
