<!DOCTYPE html>
<html lang="en">
    <style>
        body {
        background-color: lightsalmon;
      }
      </style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    
      <div class="magazine-card">
        <p>
         <h1>{{ magazine.title }}</h1>
        </P>
        <p>
            <a href= {% url 'edit_magazine' magazine.pk %}>{{ "Edit" }}</a>
        </p>
        <p>
            <a href= {% url 'delete_magazine' magazine.pk %}>{{ "Delete this magazine" }}</a>
          </p>
          {% for issue in magzine.issues.all %}
            <p> Issue: {{ issue.title }}</p>
          {% endfor %}
        
        <p>{{ magazine.release_cycle }}</p>
        
        
        <img src= {{ magazine.cover_image }} width="150" height="200">
        
        <p>{{ magazine.description }}</p>
      </div>
   
  </main>
</body>

</html>
