<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    background-color: lightsalmon;
   }
  </style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for magazine in magazines %}
      <div class="magazine-card">
        <p>
          <a href= {% url 'magazine_detail' magazine.pk %}>{{ magazine.title }}</a>
        </p>
        
        <p>{{ magazine.release_cycle }}</p>
        {% comment %} <p>{{ book.book_page }}</p> {% endcomment %}
        {% comment %} <p>{{ book.isbn_number }}</p> {% endcomment %}
        <img src= {{magazine.cover_image }} width="200px" height="200px">
        {% comment %} <p>{{ book.in_print }}</p> {% endcomment %}
        {% comment %} <p>{{ book.published_date }}</p> {% endcomment %}
        <p>{{ magazine.description }}</p>
      </div>
    {% endfor %}
  </main>
</body>

</html>
