<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    background-color: lightsalmon;
   }
  </style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <h1>
        Create a new book
    </h1>
    <nav>
    </nav>
  </header>
  <main>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
  </main>
</body>

</html>
