<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    background-color: lightsalmon;
   }
  </style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="main">
        <form method="POST"> 
            {% csrf_token %}
           <h1> Delete this Book</h1>
            <input type="submit" value="Delete this book" />
            <a href="/">Cancel </a>
        </form>
      </div>
   
  </main>
</body>

</html>