<!DOCTYPE html>
<style>
  body {
  background-color: lightsalmon;
 }
</style>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    
      <div class="book-card">
        <p>
         <h1>{{ book.title }}</h1>
        </P>
        <p>
          <a href= {% url 'delete_book' book.pk %}>{{ "Delete this book" }}</a>
        </p>
         {% for review in book.reviews.all %}
        <p> Review: {{ review.text }}</p>
        {% endfor %}
        {% for author in book.authors.all %}
        <p> Author: {{ author.name }}</p>
        {% endfor %}
        <p>{{ book.book_page }}</p>
        <p>{{ book.isbn_number }}</p>
        <img src= {{ book.url_for_bookcover }} width="200px" height="200px">
        <p>{{ book.in_print }}</p>
        <p>{{ book.published_date }}</p>
      </div>
   
  </main>
</body>

</html>
