<!DOCTYPE html>
<html lang="en">
  <style>
    body {
    background-color: lightsalmon;
   }
  </style>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
      <div class="book-card">
        <p>
          <a href= {% url 'book_detail' book.pk %}>{{ book.title }}</a>
        </P>
        <p>
          <a href= {% url 'edit_book' book.pk %}>{{ "Edit" }}</a>
        </p>
        <p>{{ book }}</p>
        <p>{{ book.book_page }}</p>
        <p>{{ book.isbn_number }}</p>
        <img src= {{ book.url_for_bookcover }} width="158" height="200"></img>
        <p>{{ book.in_print }}</p>
        <p>{{ book.published_date }}</p>
        <p>{{ book.description }}</p>
      </div>
    {% endfor %}
  </main>
</body> 

</html>







